@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.boxes {
  box-shadow: 7px 7px black;
}

.box {
  box-shadow: 8px 8px #585859;
}

html {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='8' height='10' fill='none' stroke='rgb(255 255 255 / 0.25)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e"),
    radial-gradient(gray, black);
}

.bg-grad {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='8' height='10' fill='none' stroke='rgb(255 255 255 / 0.25)'%3e%3cpath d='M0 .5H31.5V32'/%3e%3c/svg%3e"),
    radial-gradient(grey, black);
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar{
    -ms-overflow-style:none;
    scrollbar-width:none;
  }
}
